<p>login works!</p>
<iframe id="my_typeform" src="https://amaliacare.typeform.com/to/mNkqBsMv"></iframe>
<button routerLink="/forgotpassword">forgot password</button>
<h2>Amaliacare where health meets care</h2>
<h1>Providing impeccable medical services to people</h1>
<p>kaleeswari</p>
<p>thanu</p>
<p>thanu krishna</p>
<p>Krishnan</p>
<p>Krishnan</p>
<h2>Kaleeswari v2.0</h2>
