<!-- {{message | async}}
<button (click)="english()">English</button>
<button (click)="tamil()">Tamil</button> -->
<!-- <typeform-widget src="https://amaliacare.typeform.com/to/e64tFOSi"></typeform-widget> -->
<!-- <typeform-widget url="https://admin.typeform.com/to/PlBzgL"></typeform-widget> -->

<router-outlet></router-outlet>